body {
    background-color:red;
}
.navbar {
    padding: 10rem;
    background-color: black;
}
.btn-primary:hover {
    background-color: blue;
    color: white;
}
.hero-background-img {
    background-image: url('cat.jpeg');
    position: relative;
    /*background: rgba(0, 0, 0, 0.3);  If our image is bright, we can tone it down with this darker overlay */
    padding-top: 200px;  
    padding-bottom: 200px;
}
.hero-background-img:after {
    content: "";
    position: absolute;
    background-image: url('cat.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5; /* Tone the image down further by giving it transparency */
}
